<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page.full_title %}
            {{ page.full_title }}
        {% elseif page.title %}
            {{ page.title }} &middot; Dragonfly Development, Inc (dflydev)
        {% else %}
            Dragonfly Development, Inc (dflydev)
        {% endif %}
    </title>
    <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    <link href="{{ site.url }}/assets/css/style.css?v={{ site.assets_version }}" rel="stylesheet" media="screen">
    <link href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
{% if not artwork %}{% if page.artwork %}{% set artwork %}{{ page.artwork }}{% endset %}{% else %}{% set artwork %}{{ site.default_artwork }}{% endset %}{% endif %}{% endif %}
<body class="{% if page.nav %}page-nav-{{ page.nav }}{% else %}page-nav-none{% endif %} {% if artwork %}page-artwork-{{ artwork }}{% else %}page-artwork-none{% endif %}">
    <div id="whole-page-container">
        <div class="site-nav-container">
            {% include "primary_nav" %}
            {% block hero %}
                <div class="hero-header">
                    <div class="banner">
                        <div class="container">
                            <h1>
                                {% if parent_link is defined %}
                                <a href="{{ site.url }}/{{ parent_link }}">{{ parent_title }}</a>
                                /
                                {% endif %}
                                {{ page.title }}
                            </h1>
                        </div>
                    </div>
                </div>
                {% include "artwork_attribution" %}
            {% endblock %}
        </div>
        <div id="whole-page-content-container">
            <div class="whole-page-content-container-inside">
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </div>
        </div>
        <footer class="site clearfix">
            <div class="banner">
                <div class="container">
                    <div class="contact-us-wrapper">
                        {% block footer_cta %}
                            Want to be inspired? <a class="btn btn-primary btn-lg" href="{{ site.url }}/contact/">Contact Us!</a>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container">
                    <div class="social-media">
                        <a href="https://github.com/dflydev"><i class="icon icon-github"></i></a>
                        <a href="https://www.linkedin.com/company/dragonfly-development-inc"><i class="icon icon-linkedin"></i></a>
                        <a href="https://twitter.com/dflydev"><i class="icon icon-twitter"></i></a>
                        <a href="https://plus.google.com/+dflydev" rel="publisher"><i class="icon icon-google-plus"></i></a>
                    </div>
                    <div class="copyright">
                        &copy;{{ "now"|date("Y") }} Dragonfly Development, Inc.
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{site.url}}/components/jquery/jquery.min.js"><\/script>')</script>
    <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.menu-full').on('hidden.bs.collapse', function (e) {
                $(this).closest('.navbar').find('.navbar-toggle').blur();
            });
            $('form.validate').on('submit', function (e) {
                var isValid = true;

                var $form = $(this);
                $form.find('input.required').each(function() {
                    var $field = $(this);

                    if ($.trim($field.val()).length == 0){
                        $field.closest('.form-group').addClass('has-error');
                        isValid = false;
                    } else {
                        $field.closest('.form-group').removeClass('has-error');
                    }
                });

                return isValid;
            });
        });
    </script>
    {% if site.google_analytics_tracking_id %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics_tracking_id }}', 'dflydev.com');
        ga('send', 'pageview');
      </script>
    {% endif %}
</body>
</html>
