{% extends "base" %}
{% if not page.no_parents %}
{% set parent_link = 'projects' %}
{% set parent_title = 'Projects' %}
{% endif %}
{% set artwork = 'tonytaj-summer-in-the-city' %}
{% block content %}

<div class="container project">
    {% if page.logos.large %}
        <div class="project-logo">
            {% if page.logos.large starts with 'http' or page.logos.large starts with '//' %}
                <img src="{{ page.logos.large }}">
            {% else %}
                <img src="{{ site.url }}/{{ page.logos.large }}">
            {% endif %}
        </div>
    {% endif %}
    <h1>{{ page.title }}</h1>

    {% if page.website %}
        <div class="project-website">
            Website: <a href="{{ page.website }}">{{ page.website }}</a>
        </div>
    {% endif %}
    {% if page.github %}
        <div class="project-github">
            GitHub: <a href="{{ page.github }}">{{ page.github }}</a>
        </div>
    {% endif %}
    {% if page.twitter %}
        <div class="project-twitter">
            Twitter: <a href="https://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a>
        </div>
    {% endif %}
    <div class="project-description">
        {% block long_description %}{% endblock %}
    </div>


    {% set _project_cta = block('project_cta') %}
    {% if _project_cta is not empty %}
        <div class="project-cta well">
            {{ _project_cta|raw }}
        </div>
    {% endif %}

    <nav class="other-projects">
        <hr>
        {% if page.previous_project %}
            <div class="previous">
                <a href="{{ page.previous_project.url }}">&laquo; {{ page.previous_project.title }}</a>
            </div>
        {% endif %}
        {% if page.next_project %}
            <div class="next">
                <a href="{{ page.next_project.url }}">{{ page.next_project.title }} &raquo;</a>
            </div>
        {% endif %}
    </nav>
</div>

{% endblock %}
