---
layout: default
full_title: Dragonfly Development Inc. (dflydev)
---
{% block content %}
<div class="company">
    <div class="companyLogo"><a href="{{ site.url }}/css/logo@2x.png">Dragonfly Development Logo</a></div>
    <div class="companyTextInfo">
        <div class="companyName">Dragonfly Development</div>
        <div class="companyDescription">
            <p>
                Dragonfly Development is a software development company that
                specializes in building software for the web. We love what
                we do and we love to make our clients happy. Interested in
                working together? <a href="mailto:info@dflydev.com">Send us
                an email</a> and tell us about your project!
            </p>
        </div>
        <div class="who">
            <div class="employee">
                <div class="pic">
                    <a href="https://beau.io"><img src="https://secure.gravatar.com/avatar/23d971deeb3975a7d28246192fbbe7b7?s=420" width="50" height="50" /></a>
                </div>
                <div class="info">
                    <div class="name"><a href="https://beau.io">Beau Simensen</a></div>
                    <ul>
                        <li>
                            <a href="http://github.com/simensen"><i class="icon-github"></i>simensen</a>
                        </li>
                        <li>
                            <a href="http://twitter.com/beausimensen"><i class="icon-twitter"></i>@beausimensen</a>
                        </li>
                        <li>
                            <a href="http://srcmvn.com"><i class="icon-external-link"></i>srcmvn.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
